.navigation {
    background: #2343c2 ;
    padding: 30px;
} 
.navigation a {
    padding: 10px 40px;
    margin: 10px ;
    text-decoration: none;
    color: white ;
    background:#0a8292;
    border-radius: 4px;
}